@font-face {
    font-family: SF Pro;
    src: url(src/font/SF-Pro-Display-Regular.otf);
}
@font-face {
    font-family: 'SF Pro Bold';
    src: url(src/font/SF-Pro-Display-Bold.otf);
}

*{
    background-color: #222;
    color: #fff;
    font-family: SF Pro;
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'SF Pro Bold';
    font-size: 70px;
}

ul{
    list-style-type: none;
    overflow: hidden;
    padding-top: 3%; 
}

ul li{
    float: right;
    padding-inline: 1%;
    display: block;
    transform-origin: right center;
    transition: transform 0.7s ease;
}

ul li a{
    color: rgb(156, 156, 156);
    transition: 0.7s all;
}

ul li:hover{
    transform: scale(1.1);
}

ul li a:hover{
    text-decoration: underline;
    color: white;
    transition: all 0.7s;
}

.splash{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

button{
    border: 1px solid white;
    border-radius: 25px;
}